 body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #f2f2f2;
      }
      header {
        background: #0a4db3;
        padding: 15px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      header {
        margin: 25px;
      }
      nav a {
        color: white;
        text-decoration: none;
        margin-left: 20px;
        font-size: 14px;
      }
      .hero {
        display: flex;
        justify-content: space-between;
        padding: 60px 40px;
        background: white;
      }
      .hero-text h2 {
        font-size: 50px;
        margin: 0;
      }
      .hero-text h3 {
        color: #ff6b5a;
        font-size: 45px;
        margin-top: 10px;
      }
      .about{
        padding: 40px;
      }
      .skills{
        padding: 40px;
      }
      .projects{
        padding: 40px;
      }
      .contact {
        padding: 40px;
      }
      h2.section-title {
        font-size: 26px;
        margin-bottom: 20px;
      }
      .boxes {
        display: flex;
        gap: 20px;
      }
      .card1 {
        background: #0a4db3;
        color: white;
        padding: 20px;
        width: 30%;
        text-align: center;
        border-radius: 8px;
      }
      .card2 {
        background: #0a4db3;
        color: white;
        padding: 20px;
        width: 30%;
        text-align: center;
        border-radius: 8px;
      }
      .card3 {
        background: #0a4db3;
        color: white;
        padding: 20px;
        width: 30%;
        text-align: center;
        border-radius: 8px;
      }
      .project-box {
        background: white;
        padding: 30px;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      .contact-form {
        background: white;
        padding: 25px;
        width: 350px;
        border-radius: 8px;
      }
      input{
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      button {
        width: 100%;
        padding: 10px;
        background: #0a4db3;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
      }
      footer {
        background: #0a4db3;
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 14px;
      }